@charset "utf-8";

/* reset */
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}

body {
  font-family: "Jua", sans-serif;
  color: #222;
  overflow-x: hidden;
}
/* game */

#game {
  margin: 50px auto;
  padding: 50px;
  box-sizing: border-box;
  width: 90%;
  border: 30px solid gold;
  border-radius: 20px;
  text-align: center;
}

#game h2 {
  margin-top: 20px;
  font-size: 60px;
  font-weight: normal;
}

#game img {
  width: 360px;
}

#game span {
  font-size: 20px;
  word-wrap: break-word;
  word-break: keep-all;
}

#chance {
  color: orangered;
}

#game p {
  margin-right: 100px;
  font-size: 20px;
  color: orange;
  text-shadow: 1px 1px 2px #ddd;
}

form {
  margin: 30px 0 50px;
}

label {
  margin-right: 5px;
  font-size: 25px;
}

input {
  margin-right: 2px;
  width: 75px;
  height: 30px;
  padding: 2px 5px 0px;
  box-sizing: border-box;
  font-family: "Jua", sans-serif;
  font-size: 18px;
  /* border: none; */
  transform: translateY(-3px);
}

button {
  cursor: pointer;
}

#check {
  width: 55px;
  height: 35px;
  line-height: 40px;
  border: none;
  border-radius: 20px;
  background-color: skyblue;
  color: white;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 1px;
  transform: translateY(-2px);
}

#restart {
  width: 200px;
  height: 50px;
  background-color: lightcoral;
  color: white;
  font-family: "Jua", sans-serif;
  font-size: 25px;
  text-shadow: 1px 1px 1px black;
  letter-spacing: 10px;
}

@media (max-width: 710px) and (min-width: 550px) {
  #game {
    margin: 30px auto;
    padding: 30px;
    box-sizing: border-box;
    width: 90%;
    border: 20px solid gold;
    border-radius: 25px;
  }

  #game h2 {
    margin-top: 10px;
    font-size: 40px;
  }

  #game img {
    width: 290px;
  }

  form {
    margin: 20px 0 30px;
  }

  #restart {
    margin-bottom: 10px;
    width: 150px;
    height: 45px;
    line-height: 45px;
    font-size: 23px;
    letter-spacing: 5px;
  }
}

@media (max-width: 550px) {
  #game {
    margin: 15px auto;
    padding: 15px;
    min-width: 270px;
    width: 95%;
    border: 10px solid gold;
    border-radius: 30px;
  }

  #game h2 {
    font-size: 30px;
  }

  #game img {
    width: 190px;
  }

  #game .chcefront {
    display: inline-block;
  }

  #game p {
    margin-right: 0px;
  }

  form {
    margin: 15px 0 20px;
  }

  label {
    margin-right: 3px;
    font-size: 23px;
  }

  input {
    transform: translateY(-2px);
  }

  #check {
    height: 30px;
    line-height: 35px;
    transform: translateY(0px);
  }

  #restart {
    margin-bottom: 10px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    letter-spacing: 5px;
  }
}
